@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font1: #333;
    --font2: #4f4f4f;
}
html {
    font-size: 62.5%; /*1rem = 10px*/
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
}
header {
    align-self: flex-start;
    margin-top: 2rem;
    padding-left: 2.4rem;
}
header p {
    font-family: 'Inconsolata', monospace;
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: -.25rem;
    color: var(--font1);
}
.principal-img img{
    max-width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 0 4rem;
}
.content h1 {
    font-family: 'Space Mono', monospace;
    font-size: 4.8rem;
    font-weight: 700;
    padding-left: 2.4rem;
    line-height: 7.1rem;
    letter-spacing: -0.035rem;
    color: var(--font1);
}
.content p {
    margin-top: 3rem;
    padding-left: 2.3rem;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 27px;
    letter-spacing: -0.035em;
}
.content button {
    width: 21.6rem;
    height: 6.8rem;
    margin: 6rem 0rem 7rem 2.4rem;
    background-color: var(--font1);
    border: none;
    
}
.content button a {
    font-family: 'Space Mono', monospace;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -0.035em;
    color: #fff;
}
footer {
    margin-bottom: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    color: #bdbdbd;
}
footer span {
    font-weight: 700;
}
footer a {
    text-decoration: none;
    color: #bdbdbd;
}
@media (min-width: 1025px) {
    .container {
        max-width: 1024px;
        padding: 0 3rem 0 3rem;
    }
    main {
        display: flex;
        justify-content: space-between;
        margin-top: 10rem;
        margin-bottom: 3rem;  
        gap: 5rem;       
    }
    .principal-img {
       max-width: 45rem;
    }
    .principal-img img {
        margin: 0 auto;
        height: 75%;
    }
    .content p {
        width: 300px;
    }
    footer {
        margin: 0;
    }
}  
